@charset "UTF-8";
/* MISC
------------------------------ */
* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

body,
header,
footer {
	margin: 0;
	padding: 0;
}

header p,
header ul,
footer p {
	margin: 0;
}

/* HEADER
------------------------------ */
header {
	padding: 15px;
	background-color: #402A35;
	color: white;
	overflow: hidden; /*forces content in header*/
}

#logo {
	width: 50%;
	float: left;
	font-size: 45px;
}

/* NAVIGATION
------------------------------ */
nav {
	width: 50%;
	float: right;
}

nav li {
	display: inline;
}

nav a {
	color: white;
	text-decoration: none;
	padding: 15px;
}

nav a:hover {
	background-color: #7F546A;
}

nav ul {
	text-align: right;
	margin: 15px;
}

/* CONTENT
------------------------------ */
main {
	width: 1140px;
	margin: 15px auto;  /*top/bottom, left/right*/
	overflow: hidden;
}

h2 {
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.assessment {
	color: black;
	padding: 10px 15px;
	margin-bottom: 15px;
	width: 33.33%;
	float: left;
}

.assessment a {
	background-color: #f2f2f2;
	display: block;
	padding: 15px;
	color: black;
	text-decoration: none;
	border-radius: 20px;
}

.assessment img {
	width: 100%;
}

.assessment-img {
	height: 260px;
}

.bar {
	background-color: #BF7E9F;
	color: white;
	padding: 30px;
	text-align: center;
}

.bar a { /*bar button*/
	text-decoration: none;
	color: white;
	background-color: #7F546A;
	padding: 15px;
	width: 20%;
	display: block;
	margin: 0 auto;
	border-radius: 100px;
}

.bar a:hover {
	background-color: #E597BE;
}

.bar p {
	font-size: 18px;
	margin-bottom: 15px;
}

.content {
	width: 73%;
	float: left;
}

#about main img {
	width: 25%;
	float: left;
	margin-right: 15px;
	border-radius: 5px;
}

/* FOOTER
------------------------------ */
footer {
	background-color: #402A35;
	color: white;
	font-style: italic;
	padding: 15px;
	text-align: center;
}
